spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Santander_Dev_Week
    username: postgres
    password:
    driverClassName: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true


